<img [src]="isClicked(1) ? isWinner(1) ? '../assets/chests-full.png': '../assets/chests-empty.png' : '../assets/chests-closed.png'" 
alt="" width="320"
(click)="onClick(1)">
<img [src]="isClicked(2) ? isWinner(2) ? '../assets/chests-full.png': '../assets/chests-empty.png' : '../assets/chests-closed.png'" 
alt="" width="320"
(click)="onClick(2)">
<img [src]="isClicked(3) ? isWinner(3) ? '../assets/chests-full.png': '../assets/chests-empty.png' : '../assets/chests-closed.png'" 
alt="" width="320"
(click)="onClick(3)">
<img [src]="isClicked(4) ? isWinner(4) ? '../assets/chests-full.png': '../assets/chests-empty.png' : '../assets/chests-closed.png'" 
alt="" width="320"
(click)="onClick(4)">

